@media (max-width: 450px) {
    .header_block a {
        font-family: "Comfortaa";
        font-size: 20px;
        padding-left: 25px;
        text-decoration: none;
        padding-right: 20px;
    }
    .header_block button {
        border-radius: 15px;
        border: 3px solid #1F3856;
        background: none;
        transition: 0.5s;

        width: 200px;
        height: 56px;

    }

    .content_block h1, .content_object_block h1 {
        font-size: 35px;
        margin: 80px 0 100px 0;
        display: flex;
        justify-content: center;
    }
    .my_objects button{
        width: 90vw;
        height: 45px;
    }
    .my_subjects button {
        width: 90vw;
        height: 120px;
    }

    .add_object_button p, .add_subjects_button p {
        font-size: 18px;
        text-decoration: underline;
    }
    .add_object_button button, .add_subjects_button button {
        width: 45px;
        height: 45px;
        background: none;
        border: 3px solid #1F3856;
        border-radius: 15px;
    }



}


@media (max-width: 600px) {
    /*add_object.php*/
    .add_object .container{
        width: 95vw;
        display: grid;
        justify-content: center;
    }


    .container {
        width: 95vw;
    }
    .content_object_block {
        width: 80vw;
    }
    .content_block h1, .content_object_block h1{
        font-size: 35px;
        margin: 80px 0 100px 0;
        display: flex;
        justify-content: center;
    }


    .add_objects_block div button {
        width: 150px;
        height: 60px;
        margin-bottom: 50px;

        font-size: 23px;

        display: flex;
        justify-content: center;
        align-items: center;

        background: none;
        border-radius: 15px;
        border: 3px solid #1F3856;
    }
    .add_object_block_buttons {
        width: 80vw;
    }
    .back_buttons {
        padding-bottom: 10px;
    }
}









